@font-face {
	font-family: aavanteintbook; /* Имя шрифта */
	src: url(../fonts/6806.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: MagistralBlackC;
  src: url(../fonts/MagistralBlackC.otf) format("opentype");
}



body {
	background-color: #eee;
	/*font-family: aavanteintbook;*/
	/*font-family: MagistralBlackC;*/
}

.group::after {
	content: "";
	display: table;
	clear: both;
}

.z-col-5 {
	width: 20%;
	float: left;
}

.header-menu__item-text,
.content-menu__item-text {
	font-family: MagistralBlackC;
}

.product-button {
	color: red;
	border: 2px solid;
	border-radius: 5rem;
	padding: 0px 3rem;
	font-weight: 500;
}

.product-input,
.product-input:focus {
	background: transparent;
	color: white;
	border-color: white;
  border-radius: 4rem;
}



.product-input::-webkit-input-placeholder { color: white; text-align: center; font-weight: bold;}
.product-input:-moz-placeholder { color: white; text-align: center; font-weight: bold;}
.product-input::-moz-placeholder { color: white; text-align: center; font-weight: bold;}
.product-input:-ms-input-placeholder { color: white; text-align: center; font-weight: bold;}
.product-input::-ms-input-placeholder { color: white; text-align: center; font-weight: bold;}

.jumbotron__container {
	background-image: url(../images/jumbotron_background.png);
}

.jumbotron__title {
	color: white;
	font-size: 3rem;
	text-align: center;
	padding: 1rem 0;
}

.btn.btn-doloto {
	width: 100%;
	background-color: red;
	font-weight: bold;
	font-size: 1.5rem;
	border: 2px solid;
	border-radius: 4rem;
	color: white
}

.header-menu__item {

}

.header-menu__container {
	margin-bottom: 1rem;
  margin-left: -15px;
  margin-right: -15px;
	margin-bottom: 3rem;
}

.content-product__item {
	padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0;
  background-color: #FFF;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
}

.content-product__item-image {
	text-align: center;
  padding: 1rem;
}

.content-product__item-button {
	text-align: center;
	padding-top: 1rem;
	padding-bottom: .5rem;
}

.content-product__item-price {
	font-size: 2rem;
}

.jumbotron__form {
	border: 2px solid white;
	padding: .5rem 1rem;
	border-radius: 1rem;
}

.jumbotron__form-title {
	color: white;
	font-size: 2rem;
  padding-bottom: 2rem;
}

.content-product__item-price,
.content-product__item-desc {
	color: #0098ca;
  text-align: center;
	padding: 0.2rem 0;
}

.content-product__item-desc {
	height: 5rem;

}

.content-menu__item,
.header-menu__item {
	padding: 0.3rem 0.5rem;
	/* background: #0098ca; */
	color: white;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 1rem;
	border: 2px solid red;
}

.header-menu__item-text {
	text-align: center;
}

.content-menu__item-text,
.header-menu__item-text {
	background: #0098ca;
	padding: 1rem 0.5rem;
	text-align: center;
}

.header-menu__item.header {
  margin: 0 15px;
	font-size: 19px;
}

.header-info__container {
	background: white;
	padding: 1rem;
}

.header-phone__item {
	color: #0098ca;
	font-size: 2rem;
  font-weight: bold;
}

.header-phone__container {
	background: url(../images/phone.png);
	background-position: 0 center;
	background-repeat: no-repeat;
	padding-left: 6rem;
}

.header-logo-flex__container {
	height: 100%;
	display: flex;
	align-items: center;
}

.doloto-title {
	color: #0098ca;
	font-size: 49px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 1rem;
	font-family: MagistralBlackC;
}

.feedback-item__container {
	font-size: 20px;
}

.feedback-item__username {
	font-weight: bold;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.feedback-item__text {
	margin-bottom: 2rem;
}

.footer-company-info__container {
	background: white;
	padding: 1rem 0;
	font-size: 1.5rem;
}

.footer-copy__container {
	background: #383838;
	color: white;
	padding: 0.5rem 0;
}

.callback__container {
	background: #0098ca;
	padding: 2rem;
}

.callback-form-form {
	max-width: 500px;
	margin: auto;
}

.callback-form__container {
	color: white;
	border: 1px solid;
	border-radius: 10px;
	padding: 1rem;
}

.callback-form__title__container {
	text-align: center;
	font-size: 45px;
	margin-bottom: 1rem;
	font-family: MagistralBlackC;
}

.btn-callback {
	background: transparent;
	border: 1px solid;
	color: white;
	border-radius: 1rem;
	font-size: 28px;
	font-family: aavanteintbook;
	padding: 0.3rem 2rem;
}

.callback-form__title__submit {
	text-align: center;
  margin: 2rem 0;
  margin-bottom: 1rem;
}

.about__map {
	margin: auto;
	text-align: center;
	margin: 1rem 0;
	border: 5px solid black;
	border-radius: 10px;
}

.about__detail {
	font-size: 30px;
	text-align: center;
	font-family: aavanteintbook;
}

.advantages-item__container {
	background: #1098d4;
  border-radius: 100px;
	padding: 6px;
	text-align: center;
	color: white;
	font-size: 20px;
	font-weight: bold;
  margin-bottom: 1rem;
}

.advantages-item__logo {
	float: left;
	background: #eeeeee;
	margin-left: -6px;
	margin-top: -6px;
	padding-right: 10px;
	border-radius: 60px;
}

.advantages-item__logo.right {
	float: right;
	padding: 0;
	margin: 0;
	margin-top: -66px;
	margin-right: -6px;
	padding-left: 10px;
}

.advantages-item__text {
	max-width: 500px;
	margin: auto;
}
